[Match]
#Name=enp1s0
Name=wan0

[Network]
DHCP=yes
##DNS=1.1.1.1
##DNS=8.8.8.8
##DNS=2606:4700:4700::1111
##DNS=2606:4700:4700::1001
UseDNS=yes
DefaultRouteOnDevice=yes
IPv6AcceptRA=yes
##IPv6PrefixDelegation=dhcpv6
IPv6PrefixDelegation=yes
##IPv6PrivacyExtensions=yes
IPv6Token=::feed:dead:beef:1/64
IPForward=yes

##[IPv6PrefixDelegation]
##managed=yes

##[IPv6AcceptRA]
##UseAutonomousPrefix=false
